@model TicketPlace2._0.Models.EvenementTypePlaceModel

@{
    ViewData["Title"] = "Create";
    
    var evenements = ViewData["Evenement"] as List<EvenementModel>;
}

<h1>Create</h1>

<h4>EvenementTypePlaceModel</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EvenementId" class="control-label"></label>
                <select asp-for="EvenementId" class ="form-control" asp-items="ViewBag.EvenementId" id="EvenementId" ></select>
            </div>
            <div class="form-group">
                <label asp-for="TypePlaceId" class="control-label"></label>
                <select asp-for="TypePlaceId" class ="form-control" asp-items="ViewBag.TypePlaceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NombreDePlaces" class="control-label"></label>
                <input asp-for="NombreDePlaces" class="form-control" id="NombreDePlaces" readonly />
                <span asp-validation-for="NombreDePlaces" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Emplacements" class="control-label"></label>
                <div id="emplacement-container" style="display: grid;"></div>
                <input asp-for="Emplacements" class="form-control" id="Emplacements" type="hidden"/>
                <span asp-validation-for="Emplacements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" type="number" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var evenements = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(evenements));

        document.getElementById("EvenementId").addEventListener("change", function() {
            var selectedValue = this.value;
            const selectedEvenement = evenements.find(e => e.Id+'' === selectedValue+'')
            console.log("Selected Evenement:", selectedEvenement);
            const longueur = parseInt(selectedEvenement.Espace.Longueur);
            const largeur = parseInt(selectedEvenement.Espace.Largeur);  
            var emplacementContainer = document.getElementById("emplacement-container");
            emplacementContainer.style.gridTemplateColumns = `repeat(${longueur}, 1fr)`;
            emplacementContainer.innerHTML = '';
            let indexForValue = 0;
            for (let i = 0; i < longueur; i++) {
                for (let j = 0; j < largeur; j++) {
                    let checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.id = `emplacement-${i}-${j}`;
                    checkbox.name = 'emplacement';
                    checkbox.value = `${indexForValue}`;

                    let label = document.createElement('label');
                    label.htmlFor = checkbox.id;
                    label.appendChild(document.createTextNode(`Row ${i + 1} Seat ${j + 1}`));

                    let wrapper = document.createElement('div');
                    wrapper.appendChild(checkbox);
                    wrapper.appendChild(label);
                    emplacementContainer.appendChild(wrapper);
                    indexForValue++;
                }
            }

            document.querySelectorAll('input[name="emplacement"]').forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    let selectedEmplacements = [];
                    document.querySelectorAll('input[name="emplacement"]:checked').forEach(checkedBox => {
                        selectedEmplacements.push(checkedBox.value);
                    });
                    document.getElementById('NombreDePlaces').value = selectedEmplacements.length;
                    console.log(selectedEmplacements,'selectedEmplacements');
                    document.getElementById("Emplacements").value = JSON.stringify(selectedEmplacements)+'';
                    @* document.getElementById("Emplacements").value = selectedEmplacements.length; *@
                    console.log("Emplacements value on change:", document.getElementById('Emplacements').value);
                });
            });
        });
    </script>
    
}
