@page
@model TicketPlace2._0.Areas_Admin_Pages_EvenementTypePlace.CreateModel
@using TicketPlace2._0.Models

@{
    ViewData["Title"] = "Create";
    
    var evenements = ViewData["Evenement"] as List<EvenementModel>;
    var evenementTypePlace = ViewData["EvenementTypePlace"] as List<EvenementTypePlaceModel>;
}

<h1>Create</h1>

<h4>EvenementTypePlaceModel</h4>
<hr />
<div class="row">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EvenementTypePlaceModel.EvenementId" class="control-label"></label>
                <select asp-for="EvenementTypePlaceModel.EvenementId" class ="form-control" asp-items="ViewBag.EvenementId" id="EvenementId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EvenementTypePlaceModel.TypePlaceId" class="control-label"></label>
                <select asp-for="EvenementTypePlaceModel.TypePlaceId" class ="form-control" asp-items="ViewBag.TypePlaceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EvenementTypePlaceModel.NombreDePlaces" class="control-label"></label>
                <input asp-for="EvenementTypePlaceModel.NombreDePlaces" class="form-control"  id="NombreDePlaces" readonly />
                <span asp-validation-for="EvenementTypePlaceModel.NombreDePlaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvenementTypePlaceModel.Emplacements" class="control-label"></label>
                <div id="emplacement-container" style="display: grid;"></div>
                <input asp-for="EvenementTypePlaceModel.Emplacements" class="form-control" id="Emplacements" type="hidden" />
                <span asp-validation-for="EvenementTypePlaceModel.Emplacements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvenementTypePlaceModel.Prix" class="control-label"></label>
                <input asp-for="EvenementTypePlaceModel.Prix" class="form-control" />
                <span asp-validation-for="EvenementTypePlaceModel.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script >
        var evenements = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(evenements));
        var evenementTypePlace = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(evenementTypePlace));
        document.getElementById("EvenementId").addEventListener("change", function() {
            var selectedValue = this.value;
            const selectedEvenement = evenements.find(e => e.Id+'' === selectedValue+'')
            const selectedEvenementTypePlace = evenementTypePlace.filter(e => e.EvenementId+'' === selectedValue+'')
            const getAllAlredySelectedEmplacements = selectedEvenementTypePlace.map(e => JSON.parse(e.Emplacements));
            const allSelectedEmplacements = [].concat.apply([], getAllAlredySelectedEmplacements);
            const longueur = parseInt(selectedEvenement.Espace.Longueur);
            const largeur = parseInt(selectedEvenement.Espace.Largeur);  
            var emplacementContainer = document.getElementById("emplacement-container");
            emplacementContainer.style.gridTemplateColumns = `repeat(${longueur}, 1fr)`;
            emplacementContainer.innerHTML = '';
            let indexForValue = 0;
            for (let i = 0; i < longueur; i++) {
                for (let j = 0; j < largeur; j++) {
                    let checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.id = `emplacement-${i}-${j}`;
                    checkbox.name = 'emplacement';
                    checkbox.value = `${indexForValue}`;
                    //make the checkbox disabled if it is already selected

                    if(allSelectedEmplacements.includes(`${indexForValue}`)){
                        checkbox.disabled = true;
                        //change the color of the selected checkbox
                        checkbox.style.backgroundColor = 'red';
                        
                    }

                    let label = document.createElement('label');
                    label.htmlFor = checkbox.id;
                    label.appendChild(document.createTextNode(`Row ${i + 1} Seat ${j + 1}`));

                    let wrapper = document.createElement('div');
                    wrapper.appendChild(checkbox);
                    wrapper.appendChild(label);
                    emplacementContainer.appendChild(wrapper);
                    indexForValue++;
                }
            }

            document.querySelectorAll('input[name="emplacement"]').forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    let selectedEmplacements = [];
                    document.querySelectorAll('input[name="emplacement"]:checked').forEach(checkedBox => {
                        selectedEmplacements.push(checkedBox.value);
                    });
                    document.getElementById('NombreDePlaces').value = selectedEmplacements.length;
                    document.getElementById("Emplacements").value =  JSON.stringify(selectedEmplacements);
                });
            });
        });
    </script>
    
}
